  
<h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>


<p>Hvor vil du hen?</p>
<!-- <a href="/storage">storage</a>
<br> 
<a href="/register">edit your profile</a>  fix -->
<a href="/profilematch">profile and matces</a>