<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/script.js" defer></script>
    <title>Document</title>
    <h1> hjemesidee</h1>
</head>
<body>
    
    <form>
            <div class="husk">
                <label for="skrivnavn">Skriv navn</label>
                <input type="text" id="skrivnavn" required>
                <input id="submitnavn" type="submit" value="submit">
            </div>
            <div class="glem">
                <label for="glemnavn">Jeg vil glmemes</label>
                <input type="reset" name="glemnavn" id="glemnavn" value="forget">
            </div>
            <main>
                <p class="personal-greeting"> Velkommen til hjemesidee</p>
            </main>
    </form>
</body>
</html>