<head>
    <script src="/script.js" defer></script>
    <title>storage</title>
    <h1> storage</h1>
</head>
<body>
    <form>
            <div class="husk">
                <label for="skrivnavn">Skriv navn</label>
                <input type="text" id="skrivnavn" required>
                <input id="submitnavn" type="submit" value="submit">
            </div>
            <div class="glem">
                <label for="glemnavn">Jeg vil glmemes</label>
                <input type="reset" name="glemnavn" id="glemnavn" value="forget">
            </div>
            <main>
                <p class="personal-greeting"> Velkommen til hjemesidee</p>
            </main>
    </form>
</body>
